<!doctype html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>TDowneyCode</title>
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
	<link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
	<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
	<link rel="stylesheet" href="/stylesheets/style.css" />
	<link rel="icon" type="image/png"href="/stylesheets/icon.png">
</head>

<body>
	<div>
		<div>
			<nav class="navbar navbar-inverse">
				<div id="nav" class="container-fluid">
					<div class="navbar-header">
						<a class="navbar-brand" href="/index">TDowneyCode</a>
					</div>
					<ul class="nav navbar-nav">
						<li><a href="/port">Portfolio</a></li>
						<li><a href="/about">About</a></li>
						<li><a href="/services">Services</a></li>
						<li><a href="/contact">Contact</a></li>
					</ul>
				</div>
			</nav>
