<% include ./partials/header.ejs %>

<h1> About Tyler </h1>

<div class="container">
	<img src="stylesheets/prof.jpg" alt="profile picture" class="image">
	<div class="middle">
		<div class="text"><a href="/contact">Contact Me! </a></div>
	</div>
</div>

<div id="bio">
	<p> "Hi there, my name is Tyler and I am a Web Developer / Designer in the Barrie and Simcoe region.  I love to code, from the very first web page I made a few years ago, I knew I was hooked.</p>
	<br>
	<p>I always bring fresh new ideas to my work. I stay in touch with the latest techniques and ideas from the industries leaders. When I am not at my desk coding, you can find me either gaming, trying out new recipes or shooting grand panoramic landscapes with my DSLR."   </p>
</div>
<% include ./partials/footer.ejs %>
