<% include ./partials/header.ejs %>

<h1> View my Portfolio </h1>

<div class="jumbotron">
	<div id="port1">

	</div>
	<div id="port2">

	</div>
	<div id="port3">

	</div>
</div>


<% include ./partials/footer.ejs %>
