<% include ./partials/header.ejs %>

<h1> View my Portfolio </h1>

<div class="jumbotron">
	<div id="port1">
		<a href="http://snack-time.azurewebsites.net/"><img src="/stylesheets/js-game.png"></a>
		<h3>Snack Time: Javascript</h3>
	</div>
	<div id="port2">
		<a href="http://toycars.azurewebsites.net/"><img src="/stylesheets/cars.png"></a>
		<h3>Automoblox Store Site: HTML&CSS </h3>
	</div>
	<div id="port3">
		<a href="http://thefridgelist.azurewebsites.net/"><img src="/stylesheets/food.png"></a>
		<h3> The Fridge List: C#</h3>
	</div>
</div>


<% include ./partials/footer.ejs %>
