<% include ./partials/header.ejs %>

<h1> View my Portfolio </h1>

<div class="jumbotron">
	<p>This is place to put content. You can put slider, short description about your website and place some links for navigation.
	</p>
</div>


<% include ./partials/footer.ejs %>
