<% include ./partials/header.ejs %>

<h1> See my services </h1>

<section class="color1">
					<div id="codeconSkills">
						<div class="codeconSkillbar">
							<div id="codeconHTML">
								<span class="codeconSkillArea ">HTML</span>
								<span class="PercentText ">90%</span>
							</div>
						</div>
						<div class="codeconSkillbar">
							<div id="codeconCSS">
								<span class="codeconSkillArea ">CSS / Animation</span>
								<span class="PercentText ">85%</span>
							</div>
						</div>
						<div class="codeconSkillbar">
							<div id="codeconPM">
								<span class="codeconSkillArea ">Project Managment</span>
								<span class="PercentText ">65%</span>
							</div>
						</div>
						<div class="codeconSkillbar">
							<div id="codeconJS">
								<span class="codeconSkillArea ">Javascript</span>
								<span class="PercentText ">75%</span>
							</div>
						</div>
							<div class="codeconSkillbar">
							<div id="codeconPHP">
								<span class="codeconSkillArea ">PHP </span>
								<span class="PercentText ">50%</span>
							</div>
						</div>
							<div class="codeconSkillbar">
							<div id="codeconSEO">
								<span class="codeconSkillArea ">SEO / Analytics </span>
								<span class="PercentText ">40%</span>
							</div>
						</div>
							<div class="codeconSkillbar">
							<div id="codeconC">
								<span class="codeconSkillArea ">C#</span>
								<span class="PercentText ">35%</span>
							</div>
						</div>
					</div>
</section>

<% include ./partials/footer.ejs %>
