<% include ./partials/header.ejs %>

<h1> About Tyler </h1>

<div id="abimg">
	<img src="stylesheets/img/prof.jpg" alt="profile picture">
</div>

<div id="bio">
	<p> "Hi there, my name is Tyler and I am a Web Developer / Designer in the Barrie and Simcoe region.  I love to code, from the very first web page I made a few years ago, I knew I was hooked.”</p>
	<br>
	<p>“Over the course of of my career, I have many opportunities to learn and refine my web design skills. I have learned how to build sites using such languages from HTML5, CSS5, JavaScript, PHP, C# and even have some project management experience as well. “</p>
	<br>
	<p>“I always bring fresh new ideas to my work. I stay in touch with the latest techniques and ideas from the industries leaders. When I am not at my desk coding, you can find me either gaming, trying out new recipes or shooting grand panoramic landscapes with my DSLR."   </p>
</div>


<div class="contact">
	<a href="/contact"><button type="button" class="btn">Contact Me</button></a>
</div>
<% include ./partials/footer.ejs %>
