/* express css */
 html {
	 background: #393e47;
 }

body {
	background: #393e47;
	padding: 50px;
}

footer{
	color: white;
}

.jumbotron {
	background: #a4cad6;
}

a {
  color: black;
}

h1 {
	padding: 20px;
	font-family: 'Oswald', sans-serif;
	background: #393e47;
	color: #87a8dd;
}
/* nav css */
#nav a {
	color: black;
}

#nav {
		font-family: 'Oswald', sans-serif;
		font-size: 2em;
		background: #e59109;
}

nav btn {
	font-size: 2em;
}
/* contact form css */

form {
	padding: 15px;
	font-family: 'Oswald', sans-serif;
	font-size: 1.2em;
}

form label {
	color: #87a8dd;
}

/* about page css */

.container img {
	width: 100%;
	height: 100%;
}
.container {
    position: relative;
    width: 50%;
		float: left;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}

.container:hover .image {
  opacity: 0.3;
}

.container:hover .middle {
  opacity: 1;
}

.text {
  background-color: #4CAF50;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}

.text a {
	text-decoration: none;
	color: white;
}

#bio {
	opacity: 0.5;
	padding: 15px;

}

#bio p {
	font-family: 'Raleway', sans-serif;
	font-size: 2em;
	color: white;
}


/* services skill bar css ( imported from outside source) */
#codeconSkills {
    font-size: 20px;
    height: auto;
    margin: 0 auto;
    padding: 10px;
    width: 75%;
}
#codeconSkills img {
    width: 20%;
    height: 10%;
    margin: auto 35%;
    padding: 10px;
}
.codeconSkillbar {
    width: 90%;
    height: 50px;
    position: relative;
    background: rgba(17, 17, 17, .3);
    margin: 20px auto;
}
#codeconHTML {
    width: 90%;
    animation: Animate-HTML 4s;
    -webkit-animation: Animate-HTML 4s;
    -moz-animation: Animate-HTML 4s;
    -o-animation: Animate-HTML 4s;
    height: 50px;
    position: absolute;
    background-color: #ea8564;
}
@keyframes Animate-HTML {
    from {
    width: 10px;
}
to {
    width: 90%}
}@-webkit-keyframes Animate-HTML {
    from {
    width: 10px;
}
to {
    width: 90%}
}@-moz-keyframes Animate-HTML {
    from {
    width: 10px;
}
to {
    width: 90%}
}@-o-keyframes Animate-HTML {
    from {
    width: 10px;
}
to {
    width: 90%}
}
#codeconCSS {
    animation: Animate-CSS 5s;
    -webkit-animation: Animate-CSS 5s;
    -moz-animation: Animate-CSS 5s;
    -o-animation: Animate-CSS 5s;
    width: 85%;
    height: 50px;
    position: absolute;
    background-color: #55a69f;
}
@keyframes Animate-CSS {
    from {
    width: 10px;
}
to {
    width: 85%}
}@-webkit-keyframes Animate-CSS {
    from {
    width: 10px;
}
to {
    width: 85%}
}@-moz-keyframes Animate-CSS {
    from {
    width: 10px;
}
to {
    width: 85%}
}@-o-keyframes Animate-CSS {
    from {
    width: 10px;
}
to {
    width: 85%}
}
#codeconPM {
    animation: Animate-jQuery 5s;
    -webkit-animation: Animate-jQuery 5s;
    -moz-animation: Animate-jQuery 5s;
    -o-animation: Animate-jQuery 5s;
    width: 65%;
    height: 50px;
    position: absolute;
    background-color: #99856d;
}
@keyframes Animate-jQuery {
    from {
    width: 10px;
}
to {
    width: 65%}
}@-webkit-keyframes Animate-jQuery {
    from {
    width: 10px;
}
to {
    width: 65%}
}@-moz-keyframes Animate-jQuery {
    from {
    width: 10px;
}
to {
    width: 65%}
}@-o-keyframes Animate-jQuery {
    from {
    width: 10px;
}
to {
    width: 65%}
}
#codeconJS {
    animation: Animate-JS 4s;
    -webkit-animation: Animate-JS 4s;
    -moz-animation: Animate-JS 4s;
    -o-animation: Animate-JS 4s;
    width: 75%;
    height: 50px;
    position: absolute;
    background-color: #c44e45;
}
@keyframes Animate-JS {
    from {
    width: 10px;
}
to {
    width: 75%}
}@-webkit-keyframes Animate-JS {
    from {
    width: 10px;
}
to {
    width: 75%}
}@-moz-keyframes Animate-JS {
    from {
    width: 10px;
}
to {
    width: 75%}
}@-o-keyframes Animate-JS {
    from {
    width: 10px;
}
to {
    width: 75%}
}

#codeconPHP {
    animation: Animate-PHP 4s;
    -webkit-animation: Animate-PHP 4s;
    -moz-animation: Animate-PHP 4s;
    -o-animation: Animate-PHP 4s;
    width: 50%;
    height: 50px;
    position: absolute;
    background-color: #5A69A6;
}
@keyframes Animate-PHP {
    from {
    width: 10px;
}
to {
    width: 50%}
}@-webkit-keyframes Animate-PHP {
    from {
    width: 10px;
}
to {
    width: 50%}
}@-moz-keyframes Animate-PHP {
    from {
    width: 10px;
}
to {
    width: 50%}
}@-o-keyframes Animate-PHP {
    from {
    width: 10px;
}
to {
    width: 50%}
}
#codeconSEO {
    animation: Animate-SQL 4s;
    -webkit-animation: Animate-SQL 4s;
    -moz-animation: Animate-SQL 4s;
    -o-animation: Animate-SQL 4s;
    width: 40%;
    height: 50px;
    position: absolute;
    background-color: #23b1db;
}
@keyframes Animate-SQL {
    from {
    width: 10px;
}
to {
    width: 40%}
}@-webkit-keyframes Animate-SQL {
    from {
    width: 10px;
}
to {
    width: 40%}
}@-moz-keyframes Animate-SQL {
    from {
    width: 10px;
}
to {
    width: 40%}
}@-o-keyframes Animate-SQL {
    from {
    width: 10px;
}
to {
    width: 40%}
}
#codeconC {
    animation: Animate-VBNET 4s;
    -webkit-animation: Animate-VBNET 4s;
    -moz-animation: Animate-VBNET 4s;
    -o-animation: Animate-VBNET 4s;
    width: 35%;
    height: 50px;
    position: absolute;
    background-color: #f8a51e;
}
@keyframes Animate-VBNET {
    from {
    width: 10px;
}
to {
    width: 35%}
}@-webkit-keyframes Animate-VBNET {
    from {
    width: 10px;
}
to {
    width: 35%}
}@-moz-keyframes Animate-VBNET {
    from {
    width: 10px;
}
to {
    width: 35%}
}@-o-keyframes Animate-VBNET {
    from {
    width: 10px;
}
to {
    width: 35%}
}
.codeconSkillArea {
    z-index: 1;
    float: left;
    //position: absolute;
    margin-top: 15px;
    margin-left: 15px;
    text-shadow: none;
    color: #fff;
    //font-family: Lato-Regular, sans-serif;
    font-size: 18px;
}
.PercentText {
    z-index: 3;
    position: relative;
    padding-right: 15px;
    margin-top: 15px;
    float: right;
    text-shadow: none;
    color: #fff;
    //font-family: Lato-Regular, sans-serif;
    font-size: 18px;
}
